.field {
  display: block;
}

.field > label {
  display: block;
  margin-bottom: 5px;
}

.field > label i {
  text-decoration: none;
  font-style: normal;
  color: rgb(var(--error-rgb));
}
